<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <h2>
        <strong>PORT - User Groups ({{ groups.length }})</strong>
    </h2>
    <div class="col-xs-12">&nbsp;</div>
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">&nbsp;</div>
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1">
        <a class="btn btn-default" href="/addGroup">
            <span class="fa fa-plus" aria-hidden="true"></span>
            &nbsp;Add a Group
        </a>
    </div>
    <div class="col-xs-12">&nbsp;</div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
        <br/>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Group Name&nbsp;
                        <span ng-hide="gSortGName">
                            <span ng-click="doSort('groupName')" class="fa fa-sort"></span>
                        </span>
                        <span ng-show="gSortGName">
                            <span ng-click="doSort('groupName')" ng-show="gReverse" class="fa fa-sort-alpha-asc"></span>
                            <span ng-click="doSort('groupName')" ng-hide="gReverse" class="fa fa-sort-alpha-desc"></span>
                        </span>
                    </th>
                    <th>Group #&nbsp;
                        <span ng-hide="gSortGNum">
                            <span ng-click="doSort('groupNum')" class="fa fa-sort"></span>
                        </span>
                        <span ng-show="gSortGNum">
                            <span ng-click="doSort('groupNum')" ng-show="gReverse" class="fa fa-sort-numeric-asc"></span>
                            <span ng-click="doSort('groupNum')" ng-hide="gReverse" class="fa fa-sort-numeric-desc"></span>
                        </span>
                    </th>
                    <th>Index</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="group in groups | orderBy:gSortBy:gReverse">
                    <td>
                        <a href="/editGroup/{{ group._id }}"><span class="fa fa-pencil"></span></a>
                    </td>
                    <td>{{ group.groupName }}</td>
                    <td>{{ group.groupNum | number : 1 }}</td>
                    <td>{{ group.opsId | number : 0 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

