<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <h2><strong>List of Products</strong><small> - {{ products.length }} <span ng-show="singleProduct">Product</span><span ng-hide="singleProduct">Products</span></small></h2>
    <div class="col-xs-12">&nbsp;</div>
    <div class="col-xs-3">&nbsp;</div>
    <div class="col-xs-4">
        <a class="btn btn-default" href="/addProduct">
            <span class="fa fa-plus" aria-hidden="true"></span>
            &nbsp;Add a New Product
        </a>
    </div>
    <div class="col-xs-12">
        <br/>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>
                       <span>Name&nbsp;</span>
                        <span ng-show="pSortName">
                            <span ng-click="doSort('productName')" ng-show="pReverse" class="fa fa-sort-alpha-asc"></span>
                            <span ng-click="doSort('productName')" ng-hide="pReverse" class="fa fa-sort-alpha-desc"></span>
                        </span>
                        <span ng-hide="pSortName">
                            <span ng-click="doSort('productName')" class="fa fa-sort"></span>
                        </span>
                    </th>
                    <th>
                        <span>Manager&nbsp;</span>
                        <span ng-show="pSortManager">
                            <span ng-click="doSort('pmName')" ng-show="pReverse" class="fa fa-sort-alpha-asc"></span>
                            <span ng-click="doSort('pmName')" ng-hide="pReverse" class="fa fa-sort-alpha-desc"></span>
                        </span>
                        <span ng-hide="pSortManager">
                            <span ng-click="doSort('pmName')" class="fa fa-sort"></span>
                        </span>
                    </th>
                    <th>
                       <span>Priority&nbsp;</span>
                        <span ng-show="pSortPriority">
                            <span ng-click="doSort('businessPriority')" ng-show="pReverse" class="fa fa-sort-alpha-asc"></span>
                            <span ng-click="doSort('businessPriority')" ng-hide="pReverse" class="fa fa-sort-alpha-desc"></span>
                        </span>
                        <span ng-hide="pSortPriority">
                            <span ng-click="doSort('businessPriority')" class="fa fa-sort"></span>
                        </span>
                    </th>
                    <th>
                       <span>Rank&nbsp;</span>
                        <span ng-show="pSortRank">
                            <span ng-click="doSort('businessRank')" ng-show="pReverse" class="fa fa-sort-numeric-asc"></span>
                            <span ng-click="doSort('businessRank')" ng-hide="pReverse" class="fa fa-sort-numeric-desc"></span>
                        </span>
                        <span ng-hide="pSortRank">
                            <span ng-click="doSort('businessRank')" class="fa fa-sort"></span>
                        </span>
                    </th>
                    <th>
                       <span>Current Phase&nbsp;</span>
                        <span ng-show="pSortPhase">
                            <span ng-click="doSort('phase')" ng-show="pReverse" class="fa fa-sort-alpha-asc"></span>
                            <span ng-click="doSort('phase')" ng-hide="pReverse" class="fa fa-sort-alpha-desc"></span>
                        </span>
                        <span ng-hide="pSortPhase">
                            <span ng-click="doSort('phase')" class="fa fa-sort"></span>
                        </span>
                    </th>
                    <th>C</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products | orderBy:pSortBy:pReverse">
                    <td>
                        <a href="/editProduct/{{ product._id }}"><span class="fa fa-pencil"></span></a>
                    </td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.pmName }}</td>
                    <td>{{ product.businessPriority }}</td>
                    <td>{{ product.businessRank }}</td>
                    <td>{{ product.phase }}</td>
                    <td><span class="fa fa-check" ng-show="product.complete"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

