<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <h2>
            PORT - Edit Milestone for {{ group.groupName }} Group
    </h2>
    <div class="col-xs-12">phase = {{milestone.phaseNum}}</div>
    <div class="col-xs-12">
        <form class="form-horizontal" ng-submit="updateMilestone()">
            <!--             Form label and input field for owning group input  -->
            <div class="row">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 control-label">Phase:</label>
                    <div class="col-xs-6">
                        <select ng-model="milestone.phaseNum" 
                                ng-change="readPhaseObjectives()"
                                ng-options="phase.num as phase.name for phase in phases">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="objectives">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 control-label">Objective:</label>
                    <div class="col-xs-8">
                        <select ng-model="milestone.objectiveId"
                                ng-options="objective._id as objective.phaseObjective for objective in objectives">
                        </select>
                    </div>
                </div>
            </div>
            <!--             Form labels and input fields for Milestone sequence input  -->
            <div class="row">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 control-label">Sequence:</label>
                    <div class="col-xs-8 col-sm-6 col-md-4 col-lg-2">
                        <input type="text" class="form-control" ng-model="milestone.milestoneSeq">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="col-xs-4 col-sm-3 control-label">Milestone:</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" ng-model="milestone.objectiveMilestone">
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-4 col-sm-3"></div>
                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                    <button type="submit" class="btn btn-primary">Update Milestone</button>
                </div>
                <br/>
            </div>
            
        </form>
    </div>
</div>