<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <h2>ENA Product Operational Readiness Tool</h2>
</div>
</br>
<div class="container" ng-show="productsFound">
    <h4 class="page-header"><strong>Dashboard of Active Products and Phase Start Dates</strong></h4>
        <small>
            <table class="table table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                           <span>Product Name&nbsp;</span>
                            <span ng-show="dSortName">
                                <span ng-click="doSort('productName')" ng-show="dReverse" class="fa fa-sort-alpha-asc"></span>
                                <span ng-click="doSort('productName')" ng-hide="dReverse" class="fa fa-sort-alpha-desc"></span>
                            </span>
                            <span ng-hide="dSortName">
                                <span ng-click="doSort('productName')" class="fa fa-sort"></span>
                            </span>
                        </th>
                        <th>
                           <span>Priority&nbsp;</span>
                            <span ng-show="dSortPriority">
                                <span ng-click="doSort('businessPriority')" ng-show="dReverse" class="fa fa-sort-alpha-asc"></span>
                                <span ng-click="doSort('businessPriority')" ng-hide="dReverse" class="fa fa-sort-alpha-desc"></span>
                            </span>
                            <span ng-hide="dSortPriority">
                                <span ng-click="doSort('businessPriority')" class="fa fa-sort"></span>
                            </span>
                        </th>
                        <th>
                           <span>Rank&nbsp;</span>
                            <span ng-show="dSortRank">
                                <span ng-click="doSort('businessRank')" ng-show="dReverse" class="fa fa-sort-numeric-asc"></span>
                                <span ng-click="doSort('businessRank')" ng-hide="dReverse" class="fa fa-sort-numeric-desc"></span>
                            </span>
                            <span ng-hide="dSortRank">
                                <span ng-click="doSort('businessRank')" class="fa fa-sort"></span>
                            </span>
                        </th>
                        <th>
                           <span>Curr Phase&nbsp;</span>
                            <span ng-show="dSortPhase">
                                <span ng-click="doSort('currentPhase')" ng-show="dReverse" class="fa fa-sort-alpha-asc"></span>
                                <span ng-click="doSort('currentPhase')" ng-hide="dReverse" class="fa fa-sort-alpha-desc"></span>
                            </span>
                            <span ng-hide="dSortPhase">
                                <span ng-click="doSort('currentPhase')" class="fa fa-sort"></span>
                            </span>
                        </th>
                        <th>Discovery</th>
                        <th>Development</th>
                        <th>Pilot</th>
                        <th>Pre-Launch</th>
                        <th>Post-Launch</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in products | orderBy:dSortBy:dReverse">
                        <td>{{ product.productName }}</td>
                        <td>{{ product.businessPriority }}</td>
                        <td>{{ product.businessRank }}</td>
                        <td>{{ product.phase }}</td>
                        <td>{{ product.start[0] }}</td>
                        <td>{{ product.start[1] }}</td>
                        <td>{{ product.start[2] }}</td>
                        <td>{{ product.start[3] }}</td>
                        <td>{{ product.start[4] }}</td>
                    </tr>
                </tbody>
            </table>
        </small>
    </div>
  </div>
</div>

<br/>
<br/>

<footer class="footer">
<div class="container">
    <small>
        <p>Built using MongoDB/Mongoose, ExpressJS, AngularJS, and NodeJS (MEAN stack); plus Bootstrap, and Font Awesome.</p>
    </small>
  </div>
</footer>
